<div class="lien_connexion">
    <div class="corps">
        <p class="lien"> {{lien.lien_connexion}} </p>
        <div class="inscrit">
            <img src="https://placehold.co/40x40" alt="fake">
            <div class="info_lien">
                <div class="info_employe">
                    <p class="nom_prenom">
                        {% if lien.employe %}
                            {{lien.employe.first_name}} {{lien.employe.last_name}}
                        {% else %}
                            ...
                        {%endif%}
                    </p>
                    <div class="divers_lien">
                        <p class="role_lien">
                            {{lien.role_lien}}
                        </p>
                        <p class="poste_lien">
                            {{lien.poste_lien}}
                        </p>
                    </div>
                    
                </div>
                <div class="statut_lien  {% if lien.statut_lien == 0 %}valide{% elif lien.statut_lien == 1 %}lu{%else%}expire{%endif%} ">
                    {% if lien.statut_lien == 0 %}
                    <i class="bi bi-check-circle"></i>
                    {% elif lien.statut_lien == 1 %}
                    <i class="bi bi-check2-all"></i>
                    {% else %}
                    <i class="bi bi-x-circle"></i>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <a href="{{url}}" class="effacer_lien">Supprimer</a>
</div>