{% load static %}

<section class= 'compagnies'>
    <h3 class="compagnies__titre">Les sociétés qui nous font confiance</h3>
    <div class="images-societe">
        <img src=" {% static 'images/amazon.png' %} " alt="" class="societe1">
        <img src=" {% static 'images/airtable.png' %} " alt="" class="societe2">
        <img src=" {% static 'images/asana.png' %} " alt="" class="societe3">
        <img src=" {% static 'images/box.png' %} " alt="" class="societe4">
        <img src=" {% static 'images/google.png' %} " alt="" class="societe5">
        <img src=" {% static 'images/taskrabbit.png' %} " alt="" class="societe6">
    </div>
</section>
