// Les couleur princiaples.
$cl_primaire : #d54444;
$cl_secondaire:#132f8b;
$cl_tertiare:  #5976dd;
$cl_texte : #010b20;
$cl_texte_sec : #081d48;

// Unités de mesure

$br_logo : 20px;
$br_raduis : 5px;

// Valeur par défaut

$bordure: rgba($color: #000, $alpha: .5) solid 2px;